
<div class="container mt-5">


<table class="table table-striped">
    <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Model</th>
    <th scope="col">Make</th>
    <th scope="col">Update</th>
    <th scope="col">Delete</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let vehicle of vehicleList">
    <td>{{vehicle.id}}</td>
    <td>{{vehicle.model}}</td>
    <td>{{vehicle.make}}</td>
    <td><button (click)="setSelectedVehicle(vehicle)" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateModal">Update</button></td>
    <td><button (click)="setSelectedVehicle(vehicle)" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger">Delete</button></td>
   
  </tr>
</tbody>

</table>
</div>


<!-- Modal Delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Conformation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button  type="button" data-bs-dismiss="modal"  class="btn btn-danger" (click)="deleteVehicle()">Delete</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Update-->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">ID</label>
              <input type="text" value={{selectedVehicle?.id}}  class="form-control" id="recipient-name" disabled>
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Make</label>
              <input type="text" [(ngModel)]="selectedVehicle && selectedVehicle.make"[ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name" >
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Model</label>
              <input type="text" [(ngModel)]="selectedVehicle && selectedVehicle.model" [ngModelOptions]="{standalone:true}" class="form-control" id="recipient-name">
            </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#updateConfirmModal">Update</button>
        </div>
      </div>
    </div>
  </div>

  <!--Modal Update Confimation-->
<div class="modal fade" id="updateConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Confirmation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to Update this "{{selectedVehicle?.model}}" Vehicle?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="updateVehicle()">Confirm Update</button>
        </div>
      </div>
    </div>
  </div>
  

